/* @charset "utf-8"; */
@import url('http://fonts.googleapis.com/css2?family=Poppins');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(terms.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
}

.wrapper {
    position: relative;
    /* width: 400px; */
    width: 800px;
    /* height: 440px; */
    height: 600px; 
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/
    /* cut off the overflow part of the close button box  */
    overflow: hidden;
}

.wrapper .terms-box {
    width: 100%;
    padding: 40px;
}


/* Terms &.. title  */
h2 {
    padding: 0 0 10px 10px;
    /* ?? */
    font-size: 2em;
    color: #162938;
    text-align: left;
}

.wrapper .terms-box .terms-text{
    padding: 0 20px;
    height: 300px;
    overflow: auto;
    font-size: 15px;
    font-weight: 500;
    color: #162938;
}

/* Date  */
.terms-box h3 {
    /* ?? */
    font-size: 1em;
    text-align: left;
}

/* For scrollbar  */
.terms-text::-webkit-scrollbar {
    width: 4px;
    background-color: #8c908cc7;
}

.terms-text::-webkit-scrollbar-thumb {
    background-color: #162938;
}

/* I Agree..  */
.terms-box h4 {
    font-size: 1em;
    text-align: right;
    padding: 10px 15px 25px 0;
}

.buttons {
    display: flex;
    padding: 10px 0 10px 10px;
    justify-content: space-between;

}

.buttons .green, .buttons .grey {
    height: 50px;
    width: calc(50% - 10px);
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    transition: .3s linear;
}

.buttons .green {
    background-color: #162938;
}

.buttons .grey {
    background-color: #8c908cc7;
}

.buttons .green:hover, .buttons .grey:hover {
    cursor: pointer;
    opacity: .8;
}