/* @charset "utf-8"; */
@import url('http://fonts.googleapis.com/css2?family=Poppins');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Page background  */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Login.jpg);
    background-repeat: no-repeat;   /*
    background-size: cover;
    background-position: center;
}


/* For login box */
/* ??? */
.wrapper {
    position: relative;
    width: 500px;
    height: 540px; 
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/
    /* cut off the overflow part of the close button box  */
    overflow: hidden;
}


/* ----Login---- */

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}


/* close icon  */
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    /* size of the 'x' inside close icon  */
    font-size: 2em;
    color: #fff;
    display: flex;
    /* horizontally */
    justify-content: center;
    /* verticallly */
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.wrapper .icon-close:hover {
    background: #ffffffec;
    border: 2px solid #162938;
    color: #162938;
}


/* Login title  */
.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

/* Words Email and Password */
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    /* For .input-box input:focus~label, .input-box input:valid~label */
    transition: .5s;
}


/* Words 'Email','Password'etc. move up on click */
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

/* Input box for password and email */
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember_forgot_pw {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    /* add space between 'remember me' and 'forgot password?' */
    justify-content: space-between;
}

.remember_forgot_pw label input {
    /*changed check box color to black*/
    accent-color: #162938;
    /* 'remember me' away to the rigtht from check box  */
    margin-right: 3px;
    cursor: pointer;
}

/* forgot password link  */
.remember_forgot_pw a {
    color: #162938;
    text-decoration: none;
}

.remember_forgot_pw a:hover {
    /* color: #099390; */
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    /* color of the text 'Login' */
    color: #fff;
    font-weight: 500;
}

.btn:hover {
    background: #ffffffec;
    border: 2px solid #162938;
    color: #162938;
}

.login-reg {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    /* ??     add space 'between login button and register' */
    margin: 25px 0 10px;
}

.login-reg p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-reg p a:hover {
    text-decoration: underline;
    font-size: 1.125em;
}

/* ----End login--- */